body {
    margin: 0;
    padding: 0;

}

nav {
    background-color: rgb(178, 189, 219);
    color: rgb(168, 144, 180)
}

.nav-links {
    width: 80%;
}

.nav-links-text {
    font-size: 30px;
}

#search-bar { 
    background-color: rgb(8, 8, 200);
    width: 27%;
    display: flex;

    border-radius: 15px;
}

a, li {
    text-decoration: none;
    list-style-type: none;

}

a:hover {
    color: blueviolet;
}

.btn-dad{
    width: 50%;
    font-size: 20px;
}

.btns >div {
    border: solid 5px rgb(42, 64, 206);
    border-radius: 15px;
}

.search, .location {

    color: white;
}
.bluestar {
    color: blue;
}

.graystar {
    color: #888;
}

aside, #main {
    
    border: solid 10px white; 
}

.cabins {
    border: solid 10px white;
    border-radius: 0 0 15px 15px;
}

.card_text-wrap {
    border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.card_text-wrap i {
    text-decoration: none;
}

.text-align {
    padding: 10px 0 10px 10px;
}

aside {
    border-radius: 0 0 15px 15px;
    
}
.card_aside {
    border-radius: 0 0 15px 15px;
    border: solid 5px rgb(155, 151, 151);
    margin: 10px;
}

footer {
    background-color: rgb(178, 189, 219);
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

.footer-width {
    width: 70%;
    height: 200px;
    font-weight: 400;
    align-items: center;
}

a {
    text-decoration: none;
}

.carousel {
    border: 2px solid gray;
    

}




/* ########################################
#####################################
