body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
/*
.flex {
    display: flex;
}

.search-value {
    display: flex;
    border: 1px solid blue;
}

i.fa-solid {
    padding: 1rem;
    color: blue;

}

.btn-dad {
    display: flex;
    margin: 20px 10px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

#main-aside,
aside {
    margin: 10px;

}

#main-aside {
    width: 75%;

}

aside {
    width: 25%;

} /* border: solid 5px grey; */

/* .card {}

.card_aside {
    border-radius: 0 0 15px 15px;
    margin: 10px;
}

.card_text-wrap {
    border-radius: 0 0 15px 15px;
    background-color: lightgrey;
    text-decoration: none;
}

.card_text-wrap i {
    text-decoration: none;
}

.text-align {
    padding: 10px 0 10px 10px;
}

.card_aside {
    border: solid 5px black;
    margin: 10px;
}

.cabins {
    padding: 20px;
    
}

i.fa-solid {

    border-radius: 60px;
    box-shadow: 0px 0px 1px #888;
    padding: 1rem 0.7em;
    background-color: #DEEBFF;
}

.bluestar {
    color: blue;
}

.graystar {
    color: #888;
}

footer {
    background-color: black;
    color: white;
    margin-top: 20px;
}

.ul-boxes {
    margin: 20px;
}
a {
    text-decoration: none;
}
.footer-li {
    background-color: rgb(164, 155, 155);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: 500;
    height: 200px;
    align-items: center;
    margin: 20px;
}  */



/* ########################################
#####################################
with only bootstrap After This section */

a {
    text-decoration-line: none;
}

