body {
    margin: 0;
    padding: 0;

}

.loader {
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.5s ease-out;
    animation-delay: 1s;
    animation-fill-mode: both;
}

.loader-item {
    border: 10px solid rgb(129, 186, 129);
    border-top: 10px solid green;
    border-right: 10px solid yellow;
    border-bottom: 10px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.2s linear infinite;
}
@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    99% {
        z-index: 1000;
    }

    100% {
        opacity: 0;
        z-index: -1000;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
nav {
    background-color: rgb(178, 189, 219);
    color: rgb(168, 144, 180);
}

.nav-links {
    width: 97%;
}

.nav-links-text {
    font-size: 30px;
}

#search-bar { 
    background-color: rgb(8, 8, 200);
    width: 27%;
    display: flex;

    border-radius: 15px;
}

a, li {
    text-decoration: none;
    list-style-type: none;

}

a:hover {
    color: blueviolet;
}

.btn-dad{
    width: 50%;
    font-size: 20px;
}

.btns >div {
    border: solid 5px rgb(42, 64, 206);
    border-radius: 15px;
}

.search, .location {

    color: white;
}
.bluestar {
    color: blue;
}

.graystar {
    color: #888;
}

aside, #main {
    
    border: solid 10px white; 
}

.cabins {
    border: solid 10px white;
    border-radius: 0 0 15px 15px;
}

.card_text-wrap {
    border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
    background-color: white;
    text-align: center;
    text-decoration: none;
}

.card_text-wrap i {
    text-decoration: none;
}

.text-align {
    padding: 10px 0 10px 10px;
}

aside {
    border-radius: 0 0 15px 15px;
    
}
.card_aside {
    border-radius: 0 0 15px 15px;
    border: solid 5px rgb(155, 151, 151);
    margin: 10px;
}

footer {
    background-color: rgb(178, 189, 219);
    color: black;
    font-size: 24px;
    margin-top: 20px;
}

.footer-width {
    width: 70%;
    height: 200px;
    font-weight: 400;
    align-items: center;
}

a {
    text-decoration: none;
}

/* .carousel {
    border: 2px solid gray;
    

} */




/* ########################################
/* drop down menu */
/* ##################################### */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: white;
    width: 100px;
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content{

    display: block;
}

.menu {
    color: #888;
    font-size: x-large;
}