body {
    font-family: 'Raleway', sans-serif;
    background-color: #f9f9f9f9;
}
header {
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
}
.booki img {
    width: 50%;
    padding: 20px 0;
}
nav {
    display: flex;
    margin-right: 20px;
}
.Accomodations {
    margin-right: 40px;
}
.Accomodations:hover, .Activities-top:hover {
    border-top: 3px solid #0065fc;
    color: #0065fc;
    cursor: pointer;
}
.hover-topline {
    color: black;
    padding-top: 10px;
}
a:link {
    text-decoration: none;
}
.under-booki h1 { 
    padding: 0 0 5px 30px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.under_dream-vacation p {
    padding: 0 0 15px 30px;
    font-size: 14px;
    margin: 0;
}
.search {
    margin-left: 30px;
    display: flex;
    border: solid;
    border-color: #e4e2e2;
    width: 305px;
    height: 40px;
    border-radius:10px;
    color: black;
    cursor: pointer;
    
}
.location-search {
    border-radius: 10px 0 0 10px ;
    color: black;
}
.location-search .fa-solid {
    background-color: #e7e7e7;
    border-radius: 10px 0 0 10px;
    color: black;
}
.marseille-France {
    padding: 10px;
}
input {
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.search-blue {
    background-color: #0065fc;
    color: #e9f0f1;
    border-radius: 0px 10px 10px 0px;
    padding: 0.3em 0.5em 0.4em 0.5em;
    height: 30px;
}
.material-symbols-outlined {
    height:0;
    background: none;
    color: white;
    border:0;
}
.btn-dad {
    display: flex;
    padding: 20px 0 0 10px;
}
.filters {
    padding-top: 10px;
    font-size: 14px;
}
.btns {
    display: flex;
}
.mycustomicon {
    background-color: white;
    border: solid;
    border-color:rgb(216, 215, 215);
    border-radius: 20px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    margin-right: 30px;
}
.btn_text{
    padding: 10px;
    font-weight: 600;
}
#i-icon_More {
    display: flex;
    background: none;
}
.i-icon {
    position: relative;
    top: 28px;
    left: 30px;
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border: solid;
    background: none;
    border-color: #cbc5c5;
    border-radius: 60px;
    color:  #0065fc;
    font-family: italic;
    font-weight: 600;
    font-size: small;
    text-align: center;
}
#i-icon_More h4 {
    font-weight: 100;
    font-size: 14px;
    padding: 8px 0 0 25px;
    width: 46%;
}
i.fa-solid {
    border-radius: 60px;
    box-shadow: 0px 0px 1px #888;
    padding: 1rem 0.7em;
    color: #0065FC;
    background-color:#DEEBFF;
}
.bluestar {
    color: #0065FC;
}
.graystar {
    color: #888;
}
h6 {
    margin: 3px;
    border: 10px;
    padding: 4px;
}
#main-aside {
    margin: 0 0 0 20px;
    display: flex;
    flex-direction: row;
}
main {
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 65%;
    padding: 0 ;
    margin: 0 20px 0 10px; 
}
main h2 {
    padding: 20px;
    margin: 0;
}
.Rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card__image {
    width: 180px; 
    height: 100px;
    border: 5px solid white;
    border-radius: 20px 20px 0 0; 
    background-color: white;
}
.card {
    padding: 0  0 20px 0;
    margin: 10px;
}
.card_text-wrap {
    height:60px;
    position: relative;
    top: -10px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 5px 0 0 10px;
}
.card_text-wrap h4 {
    margin: 2px;
    font-size: 14px;
}
.card_text-wrap p {
    margin: 1px;
    font-size: 11px;
}
.card_text-wrap .fas {
    font-size: x-small;
} 
#Show-More h4{
    padding: 0 0 20px 20px;
    margin: 0;
}
aside {
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin: 0 30px 0 10px;
    padding: 0;
}
.card_aside {
    display: flex;
    margin: 0 20px;
}
.most-popular {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 20px;
}
#most_popular-title h3 {
    padding:0;
    margin: 0;
}
.card__image-aside {
    border: 5px solid white;
    border-radius: 20px 0 0 20px;
    width: 200px;
    height: 120px;
}

.card_text-wraper {
    background-color: white;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    width: 100%;
}
#most_popular-star .fa-solid {
    color: black;
    background-color: #f2f2f2;
    box-shadow: none;
}
.card_text-wraper .fas {
    font-size: x-small;
}
.card_text-wraper h4 {
    padding: 0;
    margin: 0;
    font-size: 16px;
}
.card_text-wraper p {
    font-size: 14px;
    padding: 10px 0;
}
#side_bed-p {
    padding: 0;
    margin: 8px 0 25px 0;
}
#Activities_in-Marseille {
    padding: 30px;
    background-color: #f9f9f9f9;
}
#all-activities {
    display: flex;
}
#all-activities img {
    border-radius: 20px 20px 0 0 ;
}
.activities-title {
    position: relative;
    top: -35px;
    height: 50px;
    border-radius: 0 0 15px 15px;
    background-color: 	white;
}
.activities-title h4 {
    padding: 10px 15px;
}
.Activities img {
    width: 100%;
}
.Activitiesa {
    height: 365px;
}
.Activitiesb {
    height: 160px;
}
.Activitiesc {
    height: 130px;
}
.Activitiesd {
    height: 365px;
}
.Activitiese {
    height: 130px;
}
.Activitiesf {
    height: 160px;
}
.column-a {
    width: 25%;
    padding: 0 30px 0 0;
}
.column-b {
    width: 25%;
    padding: 0 30px 0 0;
}
.column-c {
    width: 25%;
    padding: 0 30px 0 0;
}
.column-d {
    width: 25%;   
}
footer {
    width: auto;
    height: 160px;
    background-color: #f2f2f2;
}
.footer-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 200px;
    height: 120px;
    font-size: 14px;
    padding: 15px;
}

    /*for Tablets*/ 
@media only screen and (max-width:992px) {
    
    #main-aside {
        display: flex;
        flex-wrap: nowrap;
        margin: 10px;
    }
    main {
        width: 60%;
    }
    .card__image {
        width: 150px;
    }
    aside {
        width: 35%;
    }
    .card__image-aside {
        width: 90px;
    }
    .side-card_a p{
        margin: 0;
        padding: 10px 0;
    }
    .card_text-wraper h4{
        font-size: 12px;
    }
    .side-card_b p{
        margin: 0;
        padding:  0;
    }
    .side-card_c p{
        margin: 0;
        padding: 10px 0;
    }
    #side_bed-p{
        padding: 0;
        margin: 5px 0;
    }
    .footer-flex {
    gap: 80px;
}  
}  



    /*for Mobile*/ 
@media only screen and (max-width:767px) {
    body {
        margin: 0;
    }
    header {
        display: block;
    }
    .booki img {
        width: 50%;
        padding: 0;
    }
    .booki {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Accomodations:hover,.Activities:hover {
        border-bottom: 3px solid blue;
        border-top:none ;
        border-width: 3px;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
    .under-booki h1 { 
        font-size: 24px;
        width: 90%;
        padding-bottom: 15px;
    }
    .under_dream-vacation p {
        font-size: 22px;
    }
    .search {
        margin: 0 0 10px 20px;
        display: flex;
        border: solid;
        border-color: #e4e2e2;
        width: 320px;
        height: 60px;
        border-radius:15px 20px 20px 15px;
        color: black;
        cursor: pointer; 
    }
    .location-search {
        border-radius: 10px 0 0 10px ;
        padding: 0;
        color: black;
    }
    .location-search .fa-solid {
        background-color: #e7e7e7;
        border-radius: 10px 0 0 10px;
        padding: 1.4em 1.4em;
        color: black;
    }
    .marseille-France {
        font-weight: 800;
        font-size:24px;
    }
    input {
        border: none;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
    }
    .search-blue {
        display: none;
    }
    .material-symbols-outlined {
        position: relative;
        right: 25px;
        padding: 18px;
        height: 23px;
        border-radius: 20px;
        background: #0065fc;
        color: white;
        border: 1px solid #0065fc;
        cursor: pointer;
    }
    .btns {
        display: block;
    }
    .filters {
        padding-bottom: 20px;
    } 
    .btn_text {
        font-size: 16px;
    }
    .low-cost {
        width: 140px;
        margin-bottom: 20px;
    }
    .family-friendly {
        width: 150px;
    }
    .romantic {
        width: 140px;
    }
    .Pets-Allowed {
        width: 200px;
        margin-top: -20px;
    }
    .romantic {
        width: 160px;
        position: relative;
        top: -105px;
        left: 165px;
    }
    #i-icon_More h4 {
        padding-bottom: 5px;
        width: 70%;
    }
    #main-aside {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    aside {
        margin: 0 ;
        width: 100%;
        padding: 0;
        height: 600px;
        border-radius: 0;
    }
    .card__image-aside {
        width: 250px;
        height: 145px;
    }
    #most_popular-title h3{
        font-size: 18px;
        padding-right: 50px;
    }
    .card_text-wraper h4, p {
        font-size: 18px;
    }
    .side-card_a h4, .side-card_a p {
        margin: 0;
        padding: 20px 0;
    }
    .side-card_b h4 {
        margin: 0;
        padding: 10px 0;
    }
    #side_bed-p {
        margin: 0;
        padding: 0 0 40px 0;
    }
    .side-card_c h4{
        margin: 0;
        padding: 10px 0;
    }
    .side-card_c p{
        margin: 0;
        padding: 20px 0;
    }
    .card_text-wraper {
        width: 100%;
    } 
    main {
        background-color: #f9f9f9f9;
        padding: 0 20px;
        margin: 0; 
    }
    #main-aside h2 {
        font-size: 14px;
        padding: 20px 0 20px 10px;
    }
    .card__image {
        width: 340px;
        height: 130px;
    }
    .Rooms {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card_text-wrap h4 {
        font-weight: 900;
        font-size: 16px;
    }
    .card_text-wrap p {
        font-size: medium;
    }
    .card_text-wrap  {
        background-color: white;
    }
    #all-activities {
        display: block;
        width: 345px;
    }
    .Activitiesa,.Activitiesb,.Activitiesc, .Activitiesd, .Activitiese, .Activitiesf {
    height: 130px;
    }
    .column-a,.column-b, .column-c, .column-d {
        width: 100%;
    }
    .footer-flex {
        display: block;
        height: 700px;
        background-color: #f2f2f2;
    }
    .Our-Accomodations {
        padding: 20px;
    }
    .about {
        padding: 20px;
    }
    .assistance {
        padding: 20px;
    }

}  

